/node_modules/
.babelrc
gulpfile.js
package-lock.json
package.json
/src/js/app.js
/src/scss/_reset.scss
/src/scss/index.scss
/dist/files/1/
/dist/files/2/
/dist/files/3/
/dist/files/4/
/dist/files/5/
/dist/files/6/
/dist/files/7/
/dist/files/8/

